*{
    margin:0;
    padding:0;
}


 /* HEADER  */ 

 #padre{
    height:260px;
    background-image: linear-gradient(to top,white, #BFA393);
    display: flex;
}
.centrar{
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    color:white;
    position:relative;
    top: 70px;
    height: 70px;
    font-size: 70px;
    width: 80%;
    animation-name: titulotienda;
    animation-duration: 4s;
    animation-iteration-count: 1;
}
@keyframes titulotienda{
    0% {
        font-size: 20px;
    }
    100% {
        font-size: 70px;
    }
}



 /* NAV  */ 
.nav {
    height: 50px;
    text-align: center;
    background-color: #c49e88ad;
    display:flex;
}
nav ul {
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
nav ul li {
    height: 40px;
    width: 100%;
    text-align: center;
}
nav ul li a {
    color:white;
    text-decoration: none;
    position: relative;
    height: 70px;
    top: 10px;
    text-align: center;
    margin:110px;
}
 #preg{
     margin:20px;
     width: 40%;
 }

nav ul li:hover{
    background-color: grey;
    height: 50px;
}

 /* MAIN  */ 


#main{
    background-color:#BFA393;
    height: auto;
    justify-items: center;
    font-size: 10px;

}


img {
    height: 100%;
    width: 100%;
}
#vid {
    height: 100%;
    width: 100%;
}
iframe {
    height: 100%;
    width: 100%;
}
.video{

    height: 100%;
    width: 100%;
    align-self: center;
    background-color: rgb(156, 136, 136);
}
.hijoparrafo {
    text-align: center;

    background-color: #BFA393;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-self: center;
    font-size: 12px;
}
.tituloPreguntas{
    height: 70px;
    width: 100%;
    background-color: rgba(245, 236, 233, 0.582);
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    color:black;
    font-size: 50px;
    position: absolute;
    top: 330px;
}
.preguntas{
    height: 800px;
    font-size: 20px;
    width: 80%;
    position: relative;
    top: 150px;
    left: 50px;
}
#mainContacto{
    height: 600px;
    background-color:#BFA393;
}
#mainPreguntas{
    background-color:#BFA393;
}
.infoContacto{
    text-align: center;
    font-size: 20px;
    position: relative;
    top:150px;
    height: auto;
}
.imagenRopa{
    height: 70%;
    width: 70%;
    align-self: center;
    position: relative;
}

.textocard{
    text-align: center;
}

.imagenes{
    height: 150px;
}
.imagenes img{
    height: 100%;
    width: auto;
}

#mainRopaUno {
    background-color: #BFA393;
}

/* FOOTER  */ 
#footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: burlywood; 
    height: 100px;
  }
  .hijofooter {
    width: 33%;
    text-align: center;
    align-self: center;
    position: relative;
    top: 0px;
    height: 50px;
    margin-top: 40px;
  }

/* -----------------------MEDIA QUERIE <600px (TABLET)------------------ */
@media only screen and (min-width: 428px) and (max-width:606px) {
    #padre{
        height:auto;
        background-color: #BFA393;
        display: flex;
    }
    .centrar{
        font-size: 40px;
        position: relative;
        top: 30px;
    }
    #mainPreguntas{
        height:1200px;
        background-color:#BFA393;
    }
    .user{
        color:white;
        text-align: center;
        position:relative;
        top: 5px;
        font-size: 11px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        }
        
    .nav {
        height: 220px;
        text-align: center;
        background-color: #c49e88ad;
    }
    nav ul {
        list-style: none;
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 20% 20% 20% 20% 20%;
        grid-template-areas: "home"
                            "ropa"
                            "accesorios"
                            "preguntas"
                            "contacto";
    
        justify-content: center;
    }
    nav ul li {
        width: 100%;
        text-align: center;
    }
    nav ul li a {
        color:white;
        text-decoration: none;
        position: relative;
        height: 200px;
        top: 10px;
        width: 20%;
        text-align: center;
    }
    #main{ 
        background-color:#BFA393;
        height: auto;
        justify-items: center;
    }

    @keyframes titulotienda{
        0% {
            font-size: 0%;
        }
        100% {
            font-size: 40px;
        }
    }

    img {
        height: 100%;
        width: 100%;
    }

    .tituloPreguntas{
        height: auto;
        width: 100%;
        font-size: 40px;
        position: absolute;
        top: 470px;
    }

    .preguntas{
        height: auto;
        font-size: 17px;
        width: 80%;
        position: relative;
        top: 130px;
    }

    .imagenes{
        height: 150px;
    }
    .imagenes img{
        height: 100%;
        width: auto;
    }

    #footer{
        display: flex;
        justify-content: space-between;
        background-color: burlywood; 
        align-items:center;
        height: 100px;
    }
    .hijofooter {
        width: 33%;
        text-align: center;
        align-self: center;
        position: relative;
        top: 0px;
        height: 50px;
        margin-top: 0px;
    }
    .hijoparrafo {
        font-size: 12px;
    }

}

/* -----------------------MEDIA QUERIE <428px (Mobile Vertical)------------------ */
@media only screen and (max-width:428px) {

    #mainPreguntas{
        height:1000px;
        background-color:#BFA393;
    }

    .tituloPreguntas{
        height: 50px;
        width: 100%;
        background-color: rgba(245, 236, 233, 0.582);
        text-align: center;
        font-family: 'Abril Fatface', cursive;
        color:black;
        font-size: 30px;
        position: absolute;
        top: 380px;
    }

    @keyframes titulotienda{
        0% {
            font-size: 0px;
        }
        100% {
            font-size: 30px;
        }
    }
    #main{
        height: auto;
        justify-items: center;
    }
    #padre{
            height:110px;
            background-color: #BFA393;
            display: flex;
    }
    .user{
            color:white;
            text-align: center;
            position:relative;
            top: 5px;
            font-size: 11px;
            height: auto;
    }
    .nav {
        height: 220px;
        width: 100%;
        text-align: center;
        background-color: #c49e88ad;
    }
    nav ul {
        list-style: none;
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 20% 20% 20% 20% 20%;
        grid-template-areas: "home"
                            "ropa"
                            "accesorios"
                            "preguntas"
                            "contacto";
        justify-content: center;
    }
    nav ul li {
        width: 100%;
        text-align: center;
    }
    nav ul li a {
        color:white;
        text-decoration: none;
        position: relative;
        height: 200px;
        top: 10px;
        width: 20%;
        text-align: center;
        align-self: center;
    }
    .centrar{
        position:relative;
        top: 20px;
        font-size: 25px;
    }


    .imagenes{
            height: 150px;
    }   
    .imagenes img{
            height: 100%;
            width: auto;
    } 
    #footer{
        display: flex;
        justify-content: space-between;
        background-color: burlywood; 
        align-items:center;
        height: 120px;
    }
    .hijofooter {
        width: 33%;
        text-align: center;
        align-self: center;
        position: relative;
        top: 0px;
        height: 30px;
        margin-top: 0px;
        bottom: 10px;
    }
    .preguntas{
        height: auto;
        font-size: 17px;
        width: 80%;
        position: relative;
        top: 150px;
    }

    #mainRopaUno{
        background-color: #BFA393;
    }
    
}


/* -----------------------MEDIA QUERIE  600 < X < 992px ()------------------ */
    @media only screen and (min-width: 605px) and (max-width:992px) {
        .centrar{
            font-size: 50px;
            position: relative;
            top: 50px;
        }
        @keyframes titulotienda{
            0% {
                font-size: 0px;
            }
            100% {
                font-size: 50px;
            }
        }

        .preguntas{
            height: 1000px;
            font-size: 17px;
            width: 80%;
            position: relative;
            top: 150px;
        }
        .nav {
            height: 220px;
            text-align: center;
            background-color: #c49e88ad;
        }
        nav ul {
            list-style: none;
            display:grid;
            grid-template-columns: 100%;
            grid-template-rows: 20% 20% 20% 20% 20%;
            grid-template-areas:"home"
                                "ropa"
                                "accesorios"
                                "preguntas"
                                "contacto";
            justify-content: center;
        }
        nav ul li {
            width: 100%;
            text-align: center;
        }
        nav ul li a {
            color:white;
            text-decoration: none;
            position: relative;
            height: 200px;
            top: 10px;
            width: 100%;
            text-align: center;
            align-self: center;
        }

        .tituloPreguntas{
            height: auto;
            width: 100%;
            font-size: 40px;
            position: absolute;
            top:500px;
        }


    }
